In [12]:
import pandas as pd

In [15]:
num_rows = 50  # You can change the number of rows as needed
data = {
    "Patient ID": [f"P{1000+i}" for i in range(num_rows)],
    "Age": [random.randint(18, 85) for _ in range(num_rows)],
    "Gender": [random.choice(["Male", "Female"]) for _ in range(num_rows)],
    "Visit Date": [(datetime(2022, 1, 1) + timedelta(days=random.randint(0, 730))).strftime("%Y-%m-%d") for _ in range(num_rows)],
    "Disease Diagnosed": [random.choice(["Diabetes", "Hypertension", "Cardiovascular", "Flu", "None"]) for _ in range(num_rows)],
    "Smoking": [random.choice(["Yes", "No"]) for _ in range(num_rows)],
    "Alcohol Consumption": [random.choice(["Low", "Moderate", "High"]) for _ in range(num_rows)],
    "Physical Activity (hrs/week)": [random.randint(0, 10) for _ in range(num_rows)],
    "BMI": [round(random.uniform(18.5, 35.0), 1) for _ in range(num_rows)],
    "Blood Pressure (mmHg)": [f"{random.randint(100, 160)}/{random.randint(60, 100)}" for _ in range(num_rows)],
    "Cholesterol Level (mg/dL)": [random.randint(150, 300) for _ in range(num_rows)],
    "Family History": [random.choice(["Yes", "No"]) for _ in range(num_rows)],
    "Follow-up Required": [random.choice(["Yes", "No"]) for _ in range(num_rows)]
}

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patient ID                    50 non-null     object
 1   Age                           50 non-null     int64
 2   Gender                        50 non-null     object
 3   Visit Date                    50 non-null     object
 4   Disease Diagnosed             50 non-null     object
 5   Smoking                       50 non-null     object
 6   Alcohol Consumption           50 non-null     object
 7   Physical Activity (hrs/week)  50 non-null     int64
 8   BMI                           50 non-null     float64
 9   Blood Pressure (mmHg)         50 non-null     object
 10  Cholesterol Level (mg/dL)     50 non-null     int64
 11  Family History                50 non-null     object
 12  Follow-up Required            50 non-null     object
dtypes: float64(1), int64(3), object(9)
memory usage: 5.2+ KB
None

In [19]:
print("Missing values:\n", df.isnull().sum())

Missing values:
 Patient ID                      0
Age                             0
Gender                          0
Visit Date                      0
Disease Diagnosed               0
Smoking                         0
Alcohol Consumption             0
Physical Activity (hrs/week)    0
BMI                             0
Blood Pressure (mmHg)           0
Cholesterol Level (mg/dL)       0
Family History                  0
Follow-up Required              0
dtype: int64

In [30]:
numeric_features = df.select_dtypes(include=['number'])
df[numeric_features.columns] = df[numeric_features.columns].fillna(numeric_features.mean())

In [22]:
print(df.describe())

             Age  Physical Activity (hrs/week)        BMI  \
count  50.000000                     50.000000  50.000000
mean   51.100000                      5.080000  27.234000
std    22.127875                      3.294027   3.842491
min    18.000000                      0.000000  20.200000
25%    32.000000                      2.000000  24.425000
50%    52.500000                      5.000000  27.200000
75%    74.000000                      8.000000  30.175000
max    85.000000                     10.000000  34.500000

       Cholesterol Level (mg/dL)
count                  50.000000
mean                  220.840000
std                    45.540007
min                   151.000000
25%                   184.000000
50%                   213.500000
75%                   261.500000
max                   299.000000

In [25]:
if 'Age' in df.columns:
    age_group = df.groupby('Age').mean(numeric_only=True) # Add numeric_only=True
    print("Age-wise Statistics:\n", age_group)

Age-wise Statistics:
      Physical Activity (hrs/week)        BMI  Cholesterol Level (mg/dL)
Age
18                       2.000000  24.900000                 269.000000
19                       3.500000  28.750000                 247.000000
21                       2.500000  25.550000                 228.500000
25                       2.500000  25.150000                 192.500000
26                       3.333333  28.333333                 204.666667
31                       9.000000  28.600000                 152.000000
32                       3.666667  26.000000                 188.666667
33                       2.000000  33.300000                 173.000000
35                       7.333333  22.900000                 208.333333
36                      10.000000  34.500000                 212.000000
37                       7.000000  26.800000                 295.000000
40                       9.000000  29.000000                 284.000000
43                       2.000000  30.800000                 151.000000
44                       5.000000  24.800000                 217.000000
45                       0.000000  27.100000                 282.000000
52                       8.000000  27.800000                 215.000000
53                      10.000000  30.300000                 256.000000
54                       0.000000  27.400000                 221.000000
55                       9.000000  30.700000                 227.500000
57                       2.666667  26.000000                 184.666667
63                       5.000000  31.500000                 251.000000
68                       5.000000  24.400000                 291.000000
71                       9.000000  27.500000                 235.000000
73                      10.000000  20.600000                 204.000000
74                       4.250000  26.175000                 220.250000
76                       5.000000  22.100000                 288.000000
77                       9.000000  29.500000                 178.000000
78                       4.500000  26.050000                 238.000000
82                       3.000000  29.566667                 201.666667
84                       8.500000  29.900000                 286.500000
85                       9.000000  25.500000                 183.000000

In [26]:
df.to_csv('cleaned_data.csv', index=False)

In [27]:
print("Data analysis complete.")

Data analysis complete.